.About {
    color:white;
    background-color: rgba(42, 72, 170, 0.192);
    border-radius: 10px;
    border:3px solid rgba(42, 72, 170, 0.589);
    width: 90%;
    margin:auto;
    margin-bottom: 80px;
    text-align: center;
}

.About ul:before{
    content:attr(aria-label);
    margin-left: -35px;
}

.About li{
    width: fit-content;
    margin: auto;
}

.About p{
    font-size:large;
}