.Card{
    margin: 20px;
    width: 18rem;
    height: fit-content;
    transition: .25s;
    
}

.Card:hover{
    transform: scale(1.1);
}

.Clear{
    background-image: url("./Clear_Sky.jpg");
}

.Clouds{
    background-image: url("./cloudy-day.jpg");
}

.Rain{
    background-image: url("./rainy-day.jpg");
    
}

.Thunder{
    background-image: url("./daytime-thunderstorm.jpg");
}

.Snow{
    background-image: url("./snow-day.jpg");
}

.Clear,.Clouds,.Rain,.Thunder,.Snow,.ClearNight,.NightClouds,.NightRain,.NightThunder,.NightSnow{
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
     

.closing{
    position: absolute;
    z-index: 1;
    margin-top:7px;
    margin-left: 101px;
    padding: 5px 12px;
    border-radius: 8px;
    color:white;
    background-color: rgb(220,53,69);
    transition: .2s;
    border: 2px solid rgb(220,53,69);
    box-sizing: border-box;
}

.closing:hover{
    margin-top:8px;
    margin-left: 98px;
    padding: 6px 13px;
    color:rgb(220,53,69);
    background-color: white;
    font-weight: bolder;
    border-radius: 4px;
}

.titleContainer{
    padding-top: 25px;
    padding-bottom: 5px;
    margin:0;
    border-radius: 10px 10px 0 0;
    position: relative;
    color:white;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: .1s; 
}

.cityLink{
    text-decoration: none;
}

.info{
    display: flex;
    justify-content: center;
    transition: .3s;
}

.temp{
    z-index: 1;
    color:rgb(17, 27, 82);
    margin-bottom:0px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px 5px 0 0;
}

.subTemp{
    z-index: 1;
    color:rgb(70, 69, 69);
    margin-top: 0px;
    background-color: rgba(255, 248, 248, 0.4);
    border-radius: 0 0 5px 5px;
}

.weatherImage{
    position: relative;
    left:30px;
    transition: .3s;
}


  
