.city{
    background-color: rgba(155, 155, 235, 1);
    width:55%;
    margin: auto;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.maxTitle{
    font-size: xx-large;
    margin:0px;
    padding-top: 20px;
}

.nightMaxTitle{
    color:white;
    font-size: xx-large;
    margin:0px;
    padding-top: 20px;
}

.sep{
    height: 1px;
    background-color:black;
    border:none;
}

.nightSep{
    height: 1px;
    background-color:rgb(255, 255, 255);
    border:none;
}

.CitySeparations{
    margin-right:25px
}

.tempData{
    display: flex;
    margin-left: 10px;
}

.nightTempData{
    color:white;
    display: flex;
    margin-left: 10px;
}

.mainData{
    display: flex;
    padding: 15px 0;
}

.feelsLike{
    display:flex;
    flex-direction:column; 
    align-content: center;
    justify-content: center;
    padding-bottom: 15px;
}

.atmosphericData{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 10px;
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    justify-content: space-evenly;
}

.nightAtmosphericData{
    display: flex;
    flex-direction: column;
    color:white;
    text-align: left;
    padding: 0 10px;
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    justify-content: space-evenly;
}

.mainDataSpace{
    display: flex;
    align-items: center;
    
}

.icon{
    width: 30px;
    margin-right: 3px;
}

.closingMax{
    z-index: 1;
    margin-left:7px;
    margin-right:7px;
    margin-top:7px;
    padding: 5px 12px;
    border-radius: 8px;
    color:white;
    background-color: rgb(220,53,69);
    transition: .2s;
    border: 2px solid rgb(220,53,69);
    box-sizing: border-box;
}

.closingMax:hover{
    color:rgb(220,53,69);
    background-color: white;
    font-weight: bolder;
    border-radius: 4px;
}

@media (max-width:1300px){
    .city{
        width:500px;
    }

    .container{
        justify-content: normal;
    }

    .back{
        padding-top:90px
    }
}