.header{
    position: absolute;
    display: flex;
    background-color: rgb(53,58,64);
    top: 5px;
    left: 5px;
    right: 5px;
    border-radius: 5px;
}

.logo{
    height: 40px;
    width: 40px;
    position: relative;
    top:5px;
    left:5px;
}

.title{
    position: relative;
    left:5px;
    color:white;
    top:-2px;
    margin-left:10px;
}

.SearchBar{
    position: absolute;
    right:0;
    top:21%;
    border-radius:5px;
}

