.header{
    display: flex;
    background-color: rgb(53,58,64);
    margin:5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.titleLogo{
    display:flex;
    align-items: center;
}

.logo{
    margin-left: 5px;
    height: 40px;
    width: 40px;
}

.title{
    color:white;
    margin-left:5px
}

.SearchBar{
    border-radius:5px;
}

.navigation {
    display: flex;
    justify-content: center;
    transition: .3s;
    
}

.link {
    color:white;
    background:transparent;
    border-radius: 100%;
    transition: .3s;
    text-decoration: none;
}

.link:hover {
    color:white;
    background-color:grey;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.link:focus {
    background-color:grey;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.separator{
    width:10px;
    margin:10px;
}

