input{
    border:none;
    padding:5px;
    outline: none;
    font-size: medium;
}

.inputEntry{
    border-radius: 4px 0 0 4px;
    border: 1px solid white;
    
}

.submitButton {
    font-weight: bold;
    color: rgb(64, 167, 88);
    background-color: transparent;
    border: 1px solid rgb(64, 167, 88);
    border-radius: 0 4px 4px 0;
    margin-right:5px;
    transition: 0.2s;
}

.submitButton:hover {
    background-color: rgb(64, 167, 88);
    color: white;  
}

.submitButtonImage{
    background-color: white;
    border-radius: 0px 4px 4px 0px;
    margin-right:5px;
    transition: 0.1s;
    display: none;
}

.submitButtonImage:active {
    background-color: rgb(129, 192, 228);  
}

@media (max-width: 768px) {
    .inputEntry{
        border: none;
    }
    .submitButton{
        display:none
    }
    .submitButtonImage{
        display: unset;
    }
}