body {
  overflow: overlay;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:transparent; /*Removes highlight from button tapping on mobile*/

  -webkit-touch-callout: none; /*Stops long tap selection on mobile from working*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*Stops user from being able to target text with any device*/
}

body::-webkit-scrollbar{
  width: 5px;
  background-color:rgba(255, 255, 255, 0.144);
}

body::-webkit-scrollbar-thumb{
  position: relative;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 5px 0 0 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Makes text highlight transparent. Unnecessary for my current purpose as user-select:none makes text unselectable*/
/* ::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
} */