.Clear{
    background-image: url("./Clear_Sky.jpg");
}

.Clouds{
    background-image: url("./cloudy-day.jpg");
}

.Rain{
    background-image: url("./rainy-day.jpg");
    
}

.Thunder{
    background-image: url("./daytime-thunderstorm.jpg");
}

.Snow{
    background-image: url("./snow-day.jpg");
}

.ClearNight{
    background-image: url("Clear_Night_Sky.jpg");
}

.NightClouds{
    background-image: url("cloudy-night.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.NightRain{
    background-image: url("rainy-night.jpg");
}

.NightThunder{
    background-image: url("./nighttime-thunderstorm.jpg");
}

.NightSnow{
    background-image: url("./snow-night.jpg");
}

.Clear,.Clouds,.Rain,.Thunder,.Snow,.ClearNight,.NightClouds,.NightRain,.NightThunder,.NightSnow{
    overflow: hidden;
    background-size: cover;
    background-position: center;
}